git+https://github.com/subinps/pyrogram@inline-m
tgcrypto
hachoir
Pillow
pymongo[srv]==4.1.1
motor==3.0.0
marshmallow==3.16.0
umongo==3.0.1
heroku3
YoutubeTags
requests
bs4
imdbpy
googletrans==4.0.0-rc1
telegraph
ytthumb
PyPDF2
wget
python-arq
aiofiles
aiohttp
gTTS
asyncio==3.4.3
aiohttp==3.8.1
