git+https://github.com/subinps/pyrogram@inline-m
tgcrypto
hachoir
Pillow
pymongo[srv]==4.3.3
motor==3.0.0
marshmallow==3.17.0
umongo==3.1.0
heroku3
YoutubeTags
requests
bs4
imdbpy
googletrans==4.0.0-rc1
telegraph
ytthumb
PyPDF2
wget
python-arq
aiofiles
aiohttp
gTTS
asyncio==3.4.3
